<h3>Browse through our list of available houses</h3>

<!-- CHART.JS DISPLAY -->
<h5>Compare prices across our listings!</h5>
<button class="button-primary" id="compare-prices">Click me</button>
<canvas id="myChart"></canvas>
<br>
<hr>



<!-- SEARCH FOR HOUSES  -->
<h5>Search for listings within a particular city</h5>

<%= form_tag(houses_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search houses within a city...", :class =>"search-cities" %>
  <%= submit_tag "Search", :class => "button-primary" %>
<% end %>

<% unless @houses.present? %>
  <p>There are no houses in the city of "<%= params[:search] %>" </p>
<% end %>
<br>
<hr>

<!-- HOUSE DISPLAY -->
<h5>Current listings</h5>
<ul>
  <div class="container">
  <% @houses.each do |house| %>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8 center">
      <span><em><%= link_to(house.name, house_path(house)) %></em></span>
      </div>
      <div class="col-2"></div>
    </div>

      <br>
      <br>

    <div class="col-2"></div>
    <div class="col-8 center">
      <%= image_tag(house.image1, :class => "index-images")%>
    </div>
    <div class="col-2"></div>
      <br>
      <br>


    <div class="col-2"></div>
    <div class="col-8 center">
      <%= house.address %>
    </div>
    <div class="col-2"></div>

    <div class="col-2"></div>
    <div class="col-8 center">
      Price per night: <%= number_to_currency(house.price) %>
    </div>
    <div class="col-2"></div>

    <div class="col-2"></div>
    <div class="col-8 center">
      <em><%= house.blurb %></em>
    </div>
    <div class="col-2"></div>

      <div><% house.latitude %></div>
      <div><% house.longitude %></div>


      <br>
      <hr>
  <% end %>
</div>
</ul>
