<%= form_for @user do |f| %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name, :required => true %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email, :required => true %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password, :required => true %>
  </div>

  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :required => true %>
  </div>

  <%=f.submit "Submit" %>

<% end %>
