<h3>This is the page of: <%= @user.name %> </h3>

<ul>
  <li>Username: <%= @user.name %></li>
  <li>Email: <%= @user.email %></li>
  <br>
  <h4>Previous bookings</h4>
  <hr>

  <% @user.bookings.each do |booking| %>
    <li>Start date: <%= booking.start_date %> </li>
    <li>End date: <%= booking.end_date %> </li>
    <li>Venue: <%= booking.house.address %> </li>
    <li>Price per night: <%= number_to_currency(booking.house.price) %> </li>
    <li>Owner: <%= booking.house.owner %> </li>
    <br>
  <% end %>
</ul>
